aiofiles
aiohttp[speedups]
beautifulsoup4
covid
cowpy
dnspython
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
hachoir
heroku3
html-telegraph-poster
motor
oauth2client
Pillow
psutil
pybase64
pyrogram
pySmartDL
python-dotenv
pytz
rarfile
removebg
requests
search-engine-parser
selenium
setuptools
spamwatch
speedtest-cli
stagger
telegraph
tgcrypto
urbandict
wget
wikipedia
youtube-dl
git+https://github.com/Nekos-life/Async-nekos.life-wrapper
ruamel.yaml
ujson
youtube-search-python
google-images-download
feedparser
